* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
.logo-img {
    filter: brightness(0);
    width: 120px;
} 
#menu ul {
    display: flex;          
    justify-content: center;
    list-style: none;       
    gap: 200px;              
    margin: 0;
    padding: 0;    
    border-style: groove;
}
.botones {
    display: flex;
    gap: 10px;
}
.encabezado {
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}
#menu li{
    cursor: pointer;
    transition: transform 0.3s ease, text-decoration 0.3s ease;
}
#menu li:hover {
    text-decoration: underline;
    transform: scale(1.15);
    color: #44AFAB;
}
#eslogan{
    font-size: 50px;
}
main {
    flex:1;
}
footer{
    background-color: rgb(192, 191, 191);
    padding: 20px;
    margin-top: auto;
}
.contenedor-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    gap: 200px;
    margin-top: 50px;
}
#acerca{
    background-color: #fff;
    border-radius: 15px;
    padding: 30px;
    max-width: 750px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    margin: 0;
}
.titulo-1 {
    margin-bottom: 12px;
    color: #222222;
}

.text {
    color: #555555;
    line-height: 1.5;
    margin-bottom: 8px;
}
#servicio-courier{
    border-radius: 15px;
    height: 320px;
    width: auto;
    margin: 0;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);

}
.Contenedor {
    display: flex;
    justify-content: center;
    gap: 60px;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}
.Tabla {
   margin: 40px auto;
   border-collapse: collapse;
   width: 85%;
   background-color: rgb(247, 239, 239);
}
.Tabla th,
.Tabla td {
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;
    color: #000000;
}
.Tabla th {
   background-color: rgb(139, 135, 135);
}   